<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Testing Suite">
	<test name="Parallel Tests" parallel = "methods" thread-count = "4">
		<classes>
	         
             
		                <class name="com.idp.cases.CMToolCase" />
		           
		                
			</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
